@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize the scrollbar width and height */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Light grayish color */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* Dark grayish color */
  border-radius: 10px; /* Make it round */
}

.sun {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 30px auto;
  border-radius: 50%;
  background: linear-gradient(0deg, #2563eb 12%, #38bdf8 100%);
}

.sun::after {
  position: absolute;
  left: -100px;
  bottom: -60px;
  display: block;
  content: "";
  width: 380px;
  height: 150px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.3) 70%,
    rgba(233, 144, 70, 0.2) 100%
  );
  backdrop-filter: blur(20px);
  border-radius: 50%;
  transform: rotate(15deg);
  transform-origin: center center;
}
